@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.home{
    min-height:100vh;
    width:100%;
    background:url(../images/bg_header.jpg)top center fixed no-repeat;
    background-size:cover;
}
header{
    position:fixed;
    height:150px;
    width:100%;
    top:0;
    left:0;
    z-index:10;
}
.navbar-brand img{
   width:120px;
}
.navbar-brand span{
    position:relative;
    top:6px;
    font-size:25px;
}
.title{
    margin-top:150px;
}
h1, h2, h3, h4{
    font-family: 'Rokkitt', serif;

}
h1{
    font-size:50px;
}
.btn{
    border-radius:0;
}
.btn1{
    background:#36c4c5;
}
.btn1:hover{
    background:#36c4c5;
    color:white;
}
.btn2{
    background:#f52257;
}
.btn2:hover{
    background:#f52257;
    color:white;
}
.presentation{
    width:100vw;
    height:100vh !important;
}
.articles{
    background:white;
}
.logos{
    height:50px;
    width:50px;
    margin-left:50%;
    transform:translateX(-50%);
}
.bck{
    width:100%;
    height:100%;
    background:url(../images/bg_nuage.jpg)top center fixed no-repeat;
    background-size:cover;
}
.encart{
    margin-top:0;
    margin-right:150px;
    width:500px;
    background:rgba(84, 174, 243, 0.5);
}
.encart h4{
    font-size:22px;
}
.divelo{
    width:100%;
    height:500px;
}
.text-j{
    text-align: justify;
}
.velo{
    height:300px;
    width:300px;
}
.dd{
   
    width:100%;
}
.com{
    width:100vw;
    background:url(../images/bg_appareil_photo.jpg)center fixed no-repeat;
    background-size:cover;
}
.com h4{
    font-family: 'Roboto', sans-serif;
}
.photo{
    margin-left:150px;
    background:rgba(84, 174, 243, 0.5);
}
.galerie{
    background:lightgray;
}
.sponsor img{
    width:120px;
    height:120px;
    object-fit:cover;
}
.contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg_newsletter.jpg);
}
input[type=email]{
    border-radius:0;
}
footer{
    height:150px;
    width:100vw;
    background:#24323b;
}
footer span{
    color:#36c4c5
}